@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Mono);

/*app_styles.css*/
* {
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
  font-family: "Noto Sans Mono", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
}
h1 {
  position: absolute;
  top: 43px;
  left: 140px;
  padding: 0;
  margin: 40px;
  font-size: 3em;
  font-weight: 600;
  line-height: 0.7em;
  letter-spacing: -4px;
  color: #272730;
}

h2 {
  position: absolute;
  top: 93px;
  left: 142px;
  padding: 0;
  margin: 40px;
  font-size: 2em;
  font-weight: 600;
  line-height: 0.7em;
  letter-spacing: -2px;
  color: #272730;
}

.picker {
  position: absolute !important;
  top: 74px;
  left: 70px;
  width: 90px !important;
  height: 90px !important;
}

.canvas-hoverboard {
  display: block;
  height: 100vh;
  width: 100vw;
}

.canvas {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.staking {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.canvas-ava {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.interface {
  position: absolute;
  height: 10vh;

  max-width: 100vw;
  overflow: hidden;
  top: 0;
  z-index: 1;
  display: flex;
}

.interface-item div {
  color: white;
  font-size: 14px;
  font-family: "Noto Sans Mono";
}
.interface-item label {
  color: white;
  font-family: "Noto Sans Mono";
}
.interface-item span {
  color: white;
  font-size: 14px;
  font-family: "Noto Sans Mono";
}

.interface-item {
  background: #333335;
  color: white;
  min-width: 4vw;
  max-width: 9rem;
  text-color: white;
  border-radius: 5px;
  align-items: center;
  padding: 0.1rem 0.3rem;
  margin: 1vh 3vw;
  font-size: 14px;
}
.interface-select {
  border-radius: 5px;

  background: #3a3a3b;
}

#menu- div ul .Mui-selected {
  background: #3a2a2b;
}
#menu- div ul li {
  font-size: 10px;
  padding: 0.1rem auto;
  background: #3a3a3b;
  color: white;
  font-family: "Noto Sans Mono";
}

#menu- div ul {
  background: #3a3a3b;
  color: white;
  font-family: "Noto Sans Mono";
}

@media (max-width: 2550px) {
  .interface {
    height: 100vh;

    display: block;
  }
  .interface-item {
    min-width: 6rem;
  }
  .interface-select {
    padding: 0.2rem 0.1rem;
  }
  #menu- div ul .Mui-selected {
    background: #3a2a2b;
  }
  #menu- div ul li {
    font-size: 10px;
    padding: 0.1rem auto;
    min-height: 6px;
    background: #3a3a3b;
    color: white;
    font-family: "Noto Sans Mono";
  }

  #menu- div ul {
    background: #3a3a3b;
    color: white;
    font-family: "Noto Sans Mono";
  }
  .interface-item div {
    color: white;
    font-size: 10px;
    font-family: "Noto Sans Mono";
  }
  .interface-item label {
    color: white;
    margin-right: 0;
    font-family: "Noto Sans Mono";
  }
  .interface-item span {
    color: white;

    font-size: 10px;
    font-family: "Noto Sans Mono";
  }
}
@media (max-width: 600px) {
  #demo-simple-select-label {
    font-size: 11px !important;
  }
  .MuiSelect-select {
    padding: 5px 8px !important;
    padding-right: 32px !important;
  }
}
/* Upload file Styling */
.wrap {
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-grow: 1;
}
.upload-btn {
  margin-top: 2em;
}
.dropzone {
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.placeholder {
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  border-radius: 0.5em;
  background: #eee;
  padding: 2em;
  text-align: center;
}
.placeholder p {
  font-size: 1.2rem;
  color: #999;
}

.upload-btn input {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-btn label {
  color: #353535;
  background-color: #eee;
  border: 0;
  border-radius: 3px;
  transition: background 0.2s ease;
  font-size: 1rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

.upload-btn svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.58) !important;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input.Mui-disabled {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.58) !important;
}
.Mui-disabled {
  color: rgba(255, 255, 255, 0.58);
}

.interface-ava {
  position: absolute;
  /* height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden; */
  top: 0;
  z-index: 1;
}

.interface-left {
  position: absolute;
  height: 100vh;
  width: 12.5vw;

  left: 0px;
  top: 0px;

  /* Dark Gray */

  box-sizing: border-box;
  border-right: 1px solid #1d1e21;
}

.interface-right {
  position: absolute;
  height: 100vh;
  /* width: 12.8vw; */

  left: 87.5vw;
  top: 0px;

  /* Dark Gray */

  box-sizing: border-box;
  border-right: 1px solid #1d1e21;
}

.interface-ava-button-1 {
  position: absolute;
  /* max-width: 64px; */
  width: 12.5vw;
  /* max-height: 64px; */
  height: 12.5vw;
  top: 0;
  left: 0;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #1d1e21;
}
.interface-ava-button-2 {
  position: absolute;
  /* max-width: 64px; */
  width: 12.5vw;
  /* max-height: 64px; */
  height: 12.5vw;
  top: 12.5vw;
  left: 0;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #1d1e21;
}
.interface-ava-button-3 {
  position: absolute;
  width: 12.5vw;
  height: 12.5vw;
  top: 25vw;
  left: 0;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #1d1e21;
}

.interface-selected-button {
  /* Dark Gray */
  background: #1d1e21;
  transition: 0.5s;
}

.interface-selected-camera {
  filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(624%)
    hue-rotate(156deg) brightness(106%) contrast(95%);
}
.interface-ava-button-1:hover {
  background: #1d1e21;
  transition: 0.3s;
}
.interface-ava-button-2:hover {
  background: #1d1e21;
  transition: 0.3s;
}
.interface-ava-button-3:hover {
  background: #1d1e21;
  transition: 0.3s;
}

.interface-ava-button-1:hover .ava-icon {
  filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(624%)
    hue-rotate(156deg) brightness(106%) contrast(95%);
  transition: 0.3s;
}

.interface-ava-button-2:hover .ava-icon {
  filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(624%)
    hue-rotate(156deg) brightness(106%) contrast(95%);
  transition: 0.3s;
}
.interface-ava-button-3:hover .ava-icon {
  filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(624%)
    hue-rotate(156deg) brightness(106%) contrast(95%);
  transition: 0.3s;
}

.ava-icon {
  position: absolute;
  width: 5vw;
  height: 5vw;
  left: 28%;
  right: 28%;
  top: 31.25%;
  bottom: 31.25%;
}

.ava-minus-icon {
  position: absolute;
  width: 5vw;
  height: 5vw;
  left: 3.75vw;
  top: 93.6vh;
}

.ava-plus-icon {
  position: absolute;
  width: 5vw;
  height: 5vw;
  left: 3.75vw;
  top: 87.2vh;
}

.ava-text {
  position: absolute;
  width: 65px;
  height: 17px;
  left: 80.5vw;
  top: 5vh;

  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.015em;

  /* Light Gray */

  color: #9aa0ab;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.ava-text-logo {
  /* AVA Logo */

  position: absolute;
  width: 16vw;
  height: 5vh;
  left: 3.5vw;
  top: 80vh;
}

.MuiButton-root {
  color: white !important;
  min-width: 100px !important;
  font-family: Raleway, sans-serif !important;
}
